
/* Eric Goldstein, Karen Gertenbach, Maria Kuznetsova, Jeffrey Phelps - 
    DU Web Dev Bootcamp 2017/2018 - Week-8 Homework - Project 1

Fonts Available:
    font-family: 'Indie Flower', sans-serif;
    font-family: 'Permanent Marker', sans-serif;
    font-family: 'Chewy', sans-serif;
    font-family: 'Freckle Face', sans-serif;
    font-family: 'Ceviche One', sans-serif;
    font-family: 'Sedgwick Ave Display', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Rokkitt', sans-serif;
    font-family: 'Londrina Sketch', sans-serif;
    font-family: 'Ranga', sans-serif;
    font-family: 'Sirin Stencil', sans-serif;
    font-family: 'Varela', sans-serif;
 */


body {
    min-width: 540px;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../images/bkgrnd3.jpg");
    background-repeat: repeat;
    color: rgba(229, 228, 226, 0.75);
    font-family: 'Sirin Stencil', sans-serif;
}

h1 {
    color: rgba(229, 228, 226, 0.75);
}


/* Header */

.jumbotron {
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
    margin-top: -30px;
    font-family: 'Sedgwick Ave Display', sans-serif;
    color: rgba(255, 215, 0, 1);
    font-size: 80px;
    font-weight: bolder;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.7);
    text-shadow: 
        0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0, 0, 0, 0.801);
}

.subTitle {
    font-family: 'Indie Flower', sans-serif;
    font-size: 33px;
    font-weight: bolder;
    margin-top: -40px;
    margin-bottom: -30px;
}


/* Body */

.panel {
    background-color: rgba(0, 0, 0, 0.75);
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.panelThree {
    margin-bottom: 80px;
    overflow: auto;
}

#dataDrop1, #dataDrop2 {
    float: left;
    text-align: center;
}

#dataDrop1 {
    width: 70%;
    margin-top: -10px;
}

#dataDrop2 {
    width: 30%;
    margin-top: 100px;
}

.panel-heading {
    color: rgba(255, 215, 0, 0.7);
    border-bottom: 1px solid rgba(229, 228, 226, 0.75);
    width: 96%;
    margin-left: 10px;
}

.panel-title {
    font-family: 'Indie Flower', sans-serif;
    font-size: 20px;
}

form {
    font-family: sans-serif;
    font-size: 12px;
}

input {
    color: black;
    margin-top: 3px;
}

#maps {
    height: 200px;
    width: 100%;
}

.map-btn {
    color: black;
    margin-bottom: 10px;
}

#locations {
    margin-top: 15px;
    margin-right: -15px;
    border-top: 1px solid rgba(229, 228, 226, 0.75);
    height: 220px;
    overflow-y: scroll;
}

#locationsTitle {
    color: rgba(255, 215, 0, 0.7);
}

#locations #locationsTitle {
    padding-bottom: 5px;
}

/* Google/YouTube API Drop */

.fieldcontainer {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

#results li {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    overflow: auto;
}
.list-left {
    float: left;
    width: 20%;
}
.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}
.list-right {
    float: right;
    width: 78%;
}
.list-right h3 {
    margin: 0;
}
.list-right p {
    margin: 0;
}

.cTitle {
    color: #dd2826;
}

.button-container {
    margin-top: 25px;
    
}

.paging-button {
    background: #f4f4f4;
    padding: 0 13px;
    border: #ccc 1px solid;
    border-radius: 5px;
    color: #333;
    margin: 10px;
    cursor: pointer;
}


/* Footer */

#footer {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 215, 0, 0.7);
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#footerText p {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
}

/* ************************* */


/* Responsive Changes */

@media screen and (max-width:991px) {

    .subTitle {
        margin-bottom: -30px;
    }

    .panelTwo {

    }

    .panelThree {
        margin-bottom: 20px;
    }
    
    #footer {
        position: relative;
        width: 96%;
        margin-left: 15px;
    }

}

@media screen and (max-width:767px) {

    .title {
        margin-top: -20px;
    }

    .subTitle {
        margin-bottom: -10px;
    }

    #footer {
        width: 95%;
    }

}

@media screen and (max-width:475px) {

    .title {
        margin-top: -20px;
        font-size: 50px;
    }

    .subTitle {
        font-size: 20px;
        margin-top: -30px;
        margin-bottom: -20px;
    }

    .panel {
        font-size: 1.1em;
    }

    #footer {
        width: 93%;
    }

    #footerText p {
        font-size: 10px;
    }

